.container
  %h1.text-center 
    投稿の編集
.row.justify-content-center
  .col-md-6.mt-5.text-center
    - if @article.img_id.present?
      = image_tag attachment_url(@article, :img), alt: '', height: '500px', width: '500px'
    - else
      = image_tag 'background.jpg', alt: '', height: '500px', width: '500px'
    = render 'form', article: @article