.container
  .row.pl-5.mt-5.text-info.bg-white
    Ranking
  .row
    - @articles.each do |article|
      = link_to article do
        .col-md-6.mt-5.ml-5.text-white
          = image_tag 'foodie.jpg', alt: '', height: '300px', width: '300px', class: "rounded-circle"
          = article.title
          %br
          = l article.created_at, format: :short