.container
  %h1.text-center 
    新規投稿画面
.row.justify-content-center
  .col-md-6.mt-5.text-center
    = image_tag 'foodie.jpg', alt: '', height: '500px', width: '500px'
    = render 'form', article: @article